src/main/resources/wsdl/meldinger/meldinger.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/meldinger/v1" version="1.0" xmlns:felles="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/felles/v1" xmlns:meldinger="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/meldinger/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/felles/v1" schemaLocation="../felles/felles.xsd"/>
  <xsd:complexType name="HentStillingsprosentListeRequest">
    <xsd:sequence>
      <xsd:element name="tssEksternId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identfikasjon av TP-ordning, brukes for oppslag mot appark for henting av ekstern webservice data. Brukes av int.ark for dynamisk binding til riktig aktør. Feltet representerer mottaker av kallet.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer til person det skal simuleres for&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tpnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identfikasjon av TP-ordning&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="simuleringsKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Type ytelse det simuleres for. Se DM for gyldige verdier.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentStillingsprosentListeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StillingsprosentUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Stillingsprosent">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="stillingsprosent" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Stillingsprosent for opptjening&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="datoFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fom dato for stillingsprosent&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="datoTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tom dato for stillingsprosent&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="faktiskHovedlonn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Faktisk lønn i perioden inkludert eventuelt stillingsavhengig tillegg. Oppgis som årsbeløp&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stillingsuavhengigTilleggslonn" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Funksjonstillegg/ pensjonsgivende tillegg.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="aldersgrense" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir aldersgrense for når stillingen gir rettt til å gå av med pensjon. I vanlige tilfeller vil dette være ved 67 år. I særaldertilfeller kan den være lavere.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:StillingsprosentUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HentStillingsprosentListeResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="stillingsprosentListe" type="meldinger:Stillingsprosent"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:HentStillingsprosentListeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulertAFPPrivat">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="afpOpptjeningTotalbelop" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir verdi for beholdning&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="kompensasjonstillegg" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Måndesbeløp AFP kompensasjonstillegg&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Simuleringsdata">
    <xsd:sequence>
      <xsd:element name="poengArTom1991" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Poengår til og med 1991&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poengArFom1992" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Poengår fra og med 1992&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sluttpoengtall" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sluttpoengtall&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="anvendtTrygdetid" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Anvendt trygdetid i beregningen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="basisgp" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Basis grunnpensjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="basistp" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Basis tilleggspensjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="basispt" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Basis pensjonstillegg&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forholdstall_uttak" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Forholdstall ved uttak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="skjermingstillegg" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Skjermingstillegg&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="uforegradVedOmregning" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Uføregrad ved omregning av UP til AP&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulertAP2011">
    <xsd:sequence>
      <xsd:element name="simulertForsteuttak" type="meldinger:Simuleringsdata">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Når førsteuttak er før fylte 67 år skal det sendes en beregning som om førsteuttaket var ved 67 år. Dersom førsteuttaket er etter fylte 67 år, skal det sendes en beregning for aktuell alder ved uttak. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simulertHeltUttakEtter67ar" type="meldinger:Simuleringsdata">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Er utfylt dersom bruker venter med å ta ut helt uttak til etter fylte 67 år. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TpForhold">
    <xsd:sequence>
      <xsd:element name="tpnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identifikasjon av TP-ordning&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tssEksternId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identfikasjon av TP-ordningen i TSS, brukes for henting av ekstern webservice data.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="stillingsprosentListe" type="meldinger:Stillingsprosent"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulerTjenestepensjon">
    <xsd:sequence>
      <xsd:element name="tpnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identfikasjon av TP-ordning&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tssEksternId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Identfikasjon av TP-ordningen i TSS, brukes for henting av ekstern webservice data.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fødselsnummer på søkeren&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="forsteUttakDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Delvis pensjon fom&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="uttaksgrad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Delvis pensjon grad&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="heltUttakDato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Hel pensjon fom&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stillingsprosentOffHeltUttak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fremtidig stillingsprosent i offentlig sektor helt uttak.&lt;/p&gt;&lt;p&gt;Skal være utfylt dersom bruker har oppgitt å ha en inntekt ved siden av helt uttak.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="stillingsprosentOffGradertUttak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fremtidig stillingsprosent i offentlig sektor gradert uttak.&lt;/p&gt;&lt;p&gt;Skal være utfylt dersom bruker har oppgitt å ha en inntekt ved siden av gradert uttak.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inntektForUttak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fremtidig inntekt frem til første uttak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inntektUnderGradertUttak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fremtidig inntekt sammen med delvis uttak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="inntektEtterHeltUttak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fremtidig inntekt sammen med helt uttak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="antallArInntektEtterHeltUttak" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Antall år med inntekt etter helt uttak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sivilstandKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir brukers sivilstand&lt;/p&gt;&lt;p&gt;Gyldige verdier:&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;Kode&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Beskrivelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;GIFT&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Gift&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;SKIL&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Skilt&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;REPA&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Registrert partner&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;UGIF&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Ugift&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;ENKE&lt;/p&gt;&lt;/td&gt;&lt;td&gt;&lt;p&gt;Enke-/mann&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sprak" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Språk som skal benyttes for forbehold og feiltekster&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simulertAFPOffentlig" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Simulert AFP i off sektor. Brutto beløp før avkortning.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="simulertAFPPrivat" type="meldinger:SimulertAFPPrivat">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Simulert AFP i privat sektor&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="simulertAP2011" type="meldinger:SimulertAP2011">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Gjelder for alle brukere. Også de født etter 1954.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tpForholdListe" type="meldinger:TpForhold">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Settes hvis bruker er registrert med TP-forhold&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulerOffentligTjenestepensjonRequest">
    <xsd:sequence>
      <xsd:element name="simulerTjenestepensjon" type="meldinger:SimulerTjenestepensjon"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulerTjenestepensjonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UtbetalingsperiodeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utbetalingsperiode">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="startAlder" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Startalder for utbetalingsperioden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sluttAlder" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sluttalder for utbetalingsperioden. Utelates hvis utbetalingen er livsvarig.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="startManed" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Startmåned for utbetalingsperioden&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sluttManed" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Sluttmåned for utbetalingsperioden. Utelates hvis utbetalingen er livsvarig&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="grad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Uttaksgrad i utbetalingsperioden. Kan settes til 100%. &lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arligUtbetaling" type="xsd:double">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Simulert tjenestepensjon&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ytelseKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;type ytelse uttaksperiode gjelder for&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="mangelfullSimuleringKode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Kode for begrunnelse. Vises når TP ordning kan levere at har medlemskap og evt også fom og tom, men ikke selve beløpet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:UtbetalingsperiodeUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulertPensjonUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="felles:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SimulertPensjon">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tpnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Tjenestepensjonsnummer til ordningen som simuleringen ble gjennomført hos&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="navnOrdning" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Navn som skal vises hvilket ordning beløpet kommer fra&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="inkludertOrdningListe" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;TPnr til ordninger som er inkludert i beløpet&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="leverandorUrl" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Lenke til mer informasjon om ordningen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utbetalingsperiodeListe" type="meldinger:Utbetalingsperiode">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste med utbetalingsperioder&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:SimulertPensjonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SimulerOffentligTjenestepensjonResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="simulertPensjonListe" type="meldinger:SimulertPensjon"/>
      <xsd:element minOccurs="0" name="utvidelse" type="meldinger:SimulerTjenestepensjonUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>