src/main/resources/wsdl/tjenestepensjonSimulering.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="tjenestepensjonSimulering" targetNamespace="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/v1">
  <wsdl:types>
    <xsd:schema xmlns:feil="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/feil/v1" xmlns:meldinger="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/meldinger/v1" targetNamespace="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/v1">
      <xsd:import namespace="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/feil/v1" schemaLocation="feil/feil.xsd" />
      <xsd:import namespace="http://nav.no/ekstern/pensjon/tjenester/tjenestepensjonSimulering/meldinger/v1" schemaLocation="meldinger/meldinger.xsd" />
      <xsd:element name="hentStillingsprosentListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:HentStillingsprosentListeRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentStillingsprosentListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:HentStillingsprosentListeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hentStillingsprosentListestillingsprosentListeKanIkkeLeveres" type="feil:StillingsprosentListeKanIkkeLeveres" />
      <xsd:element name="simulerOffentligTjenestepensjon">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:SimulerOffentligTjenestepensjonRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="simulerOffentligTjenestepensjonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:SimulerOffentligTjenestepensjonResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="simulerOffentligTjenestepensjonsimuleringKanIkkeGjennomfores" type="feil:SimuleringKanIkkeGjennomfores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="hentStillingsprosentListeResponse">
    <wsdl:part name="parameters" element="tns:hentStillingsprosentListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simulerOffentligTjenestepensjon_simuleringKanIkkeGjennomfores">
    <wsdl:part name="simuleringKanIkkeGjennomfores" element="tns:simulerOffentligTjenestepensjonsimuleringKanIkkeGjennomfores">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentStillingsprosentListe_stillingsprosentListeKanIkkeLeveres">
    <wsdl:part name="stillingsprosentListeKanIkkeLeveres" element="tns:hentStillingsprosentListestillingsprosentListeKanIkkeLeveres">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hentStillingsprosentListeRequest">
    <wsdl:part name="parameters" element="tns:hentStillingsprosentListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simulerOffentligTjenestepensjonRequest">
    <wsdl:part name="parameters" element="tns:simulerOffentligTjenestepensjon">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simulerOffentligTjenestepensjonResponse">
    <wsdl:part name="parameters" element="tns:simulerOffentligTjenestepensjonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TjenestepensjonSimulering">
    <wsdl:operation name="hentStillingsprosentListe">
<wsdl:documentation>&lt;p&gt;Tjenesten skal tilby å kalle en ekstern produsenttjeneste som tilbys av TP-leverandører. Produsenttjenesten leverer en detaljert oversikt over arbeidsforhold som gir rettigheter i tjenestepensjonsordningen i form av en liste med stillingsprosenter. TP-forholdet identifiseres av fødselsnummer og tpnr.&lt;/p&gt;&lt;p&gt;Dynamisk binding mot riktig produsent av tjenesten må gjøres basert på tssEksternId&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:hentStillingsprosentListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:hentStillingsprosentListeResponse">
    </wsdl:output>
      <wsdl:fault name="stillingsprosentListeKanIkkeLeveres" message="tns:hentStillingsprosentListe_stillingsprosentListeKanIkkeLeveres">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="simulerOffentligTjenestepensjon">
<wsdl:documentation>&lt;p&gt;Tjenesten skal tilby å kalle en ekstern produsenttjeneste som tilbys av TP-leverandører. Produsenttjenesten simulerer offentlig tjenestepensjon for en person. TP-forholdet identifiseres av fødselsnummer og TP-nummer. Dynamisk binding mot riktig produsent av tjenesten (leverandør av offentlig tjenestepensjon) må gjøres basert på tssEksternId.&lt;/p&gt; </wsdl:documentation>
      <wsdl:input message="tns:simulerOffentligTjenestepensjonRequest">
    </wsdl:input>
      <wsdl:output message="tns:simulerOffentligTjenestepensjonResponse">
    </wsdl:output>
      <wsdl:fault name="simuleringKanIkkeGjennomfores" message="tns:simulerOffentligTjenestepensjon_simuleringKanIkkeGjennomfores">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
